* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  background-color: #eee;
}

.container {
  max-width: 1110px;
  margin: 65px auto;
}

.content {
  padding: 20px;
  gap: 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 5px 15px;
  border: 0;
  border-radius: 12px;
  font-size: inherit;
  color: #fff;
  background-color: orange;
}

.left_content,
.right_content {
  padding: 15px;
  border: 1px solid orange;
}

.left_content {
  width: 30%;
  flex-direction: column;
  gap: 15px;
  border: 1px solid orange;
}


.right_content {
  flex: 1;
  border: 1px solid orange;
}