* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.2;
    background-color: #23272f;
    color: #f6f7f9;
}
a {
    text-decoration: none;
    color: #149eca;
}

.container {
    width: 900px;
    margin: 20px auto;
}
.heading {
    font-size: 4rem;
    font-weight: 800;
}
.head_desc {
    margin: 20px 0 40px;
    font-size: 2rem;
    font-weight: 500;
}

.part {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
}

.part > * {
    margin-top: 16px;
}

.part_heading {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 600;
}

.part_date {
    font-size: 1.8rem;
    font-style: italic;
    color: #99a1b3;
}

.part_link {
    display: inline-block;
}
